simple/bookstore/bookstore.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema">
    <xs:element name = "bookstore" type = "bookstoretype"/>
    <xs:complexType name = "bookstoretype">
        <xs:sequence>
            <xs:element name = "book" type = "booktype" minOccurs = "0" maxOccurs = "unbounded"/>   
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name = "booktype">
        <xs:sequence>
            <xs:element name = "title" type = "xs:string"/>
            <xs:element name = "author" type = "xs:string"/>
            <xs:element name = "price" type = "xs:string"/>   
        </xs:sequence>
    </xs:complexType>
</xs:schema>